{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Bayesian BMD{% endblock %}</title>
    <link rel="icon" type="image/png" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra_meta %}{% endblock extra_meta %}
    {% if not debug %}
        <link rel='stylesheet' type='text/css'
              href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css">
        <link rel="stylesheet" type="text/css"
              href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css">
    {% else %}
        <link rel='stylesheet' type='text/css'
              href='{{STATIC_URL}}lib/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css"
              href="{{STATIC_URL}}lib/css/font-awesome.css">
        <link rel="stylesheet" type="text/css"
              href="{{STATIC_URL}}lib/css/toastr.css">
        <link rel="stylesheet" type="text/css"
              href="{{STATIC_URL}}lib/css/bokeh-0.10.0.css">
        {% endif %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/site.css">
    {% endcompress %}
    {% block extra_css %}{% endblock extra_css %}
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
    <div id='wrap'>
        {% block masthead %}{% endblock masthead %}

        {% block navigation %}
            {% include "includes/navigation.html" %}
        {% endblock navigation %}

        {% block content-outer %}
        <div id="content" class="container-fluid">
            <div class="row">
                {% block messages-outer %}
                <div id="messages" class="span12">
                    {% block messages %}
                    {% for msg in messages %}
                        {% include "includes/message.html" with msg=msg %}
                    {% endfor %}
                    {% endblock messages %}
                </div>
                {% endblock messages-outer %}
            </div>

            {% block content %}
                <div id="mainContent" class="container">
                    {% block mid_content %}{% endblock mid_content %}
                </div>
            {% endblock content %}

        </div>
        {% endblock content-outer %}
    </div>

    {% block js %}
    {% if not debug %}
    <script charset="utf-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <script charset="utf-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script charset="utf-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script charset="utf-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script charset="utf-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script charset="utf-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
    <script charset="utf-8"
            src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
    {% else %}
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/handlebars.min.js"></script>
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/jquery.min.js"></script>
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/bootstrap.min.js"></script>
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/underscore-min.js"></script>
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/backbone-min.js"></script>
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/toastr.min.js"></script>
    <script charset="utf-8"
            src="{{ STATIC_URL}}lib/js/bokeh-0.10.0.js"></script>
    {% endif %}
    {% compress js %}
    <script charset="utf-8"
            src="{{STATIC_URL}}js/site.js"></script>
    {% endcompress %}
    {% endblock js %}
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
