<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Genomics{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra_meta %}{% endblock extra_meta %}
    {% if not debug %}
        <link rel='stylesheet' type='text/css'
              href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.css">
    {% else %}
        <link rel='stylesheet' type='text/css'
              href='{{STATIC_URL}}lib/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css"
              href="{{STATIC_URL}}lib/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css"
              href="{{STATIC_URL}}lib/css/toastr.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/site.css">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
    <div id='wrap'>
        {% block masthead %}{% endblock masthead %}

        {% block navigation %}
            {% include "includes/navigation.html" %}
        {% endblock navigation %}

        {% block content-outer %}
        <div id="content" class="container-fluid">
            {% block content %}
                <div id="mainContent" class="container">
                    {% block crumbs %}{% endblock crumbs %}
                    {% block mid_content %}{% endblock mid_content %}
                </div>
            {% endblock content %}

        </div>
        {% endblock content-outer %}
    </div>

    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock footer %}

    {% block js %}
        {% if not debug %}
            <script charset="utf-8"
                src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script charset="utf-8"
                src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script charset="utf-8"
                src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
        {% else %}
            <script charset="utf-8"
                src="{{ STATIC_URL}}lib/js/jquery.min.js"></script>
            <script charset="utf-8"
                src="{{ STATIC_URL}}lib/js/bootstrap.min.js"></script>
            <script charset="utf-8"
                src="{{ STATIC_URL}}lib/js/toastr.min.js"></script>
        {% endif %}
        <script charset="utf-8" src="{{STATIC_URL}}js/site.js"></script>
    {% endblock js %}

    {% block extra_js %}{% endblock extra_js %}
    {% include "includes/messages.js" %}
</body>
</html>
