<footer class="footer">

    <ul id="footer-links">
      <li>
        <a href="http://www.niehs.nih.gov/" target="_blank">NIEHS</a></li>
      <li>
        <a href="http://www.niehs.nih.gov/about/od/ocpl/policies/" target="_blank">Web Policies</a></li>
      <li>
        <a href="http://www.niehs.nih.gov/about/od/ocpl/foia" target="_blank">Freedom of Information Act</a></li>
      <li>
        <a href="http://oig.hhs.gov/" target="_blank">Inspector General</a></li>
    </ul>
    <div id="footer-logos">
        <a href="http://www.usa.gov/" target="_blank">
            <img src="{{STATIC_URL}}img/usagov.png"
                alt="USA.gov is the U.S. government's official web portal to all federal, state, and local government web resources and services"
                title="USA.gov: Government Made Easy"></a>
        <a href="http://www.hhs.gov/" target="_blank">
            <img src="{{STATIC_URL}}img/hhs.png"
                alt="U.S. Department of Health and Human Services"
                title="U.S. Department of Health and Human Services"></a>
        <a href="http://www.nih.gov/" target="_blank">
            <img src="{{STATIC_URL}}img/nihMasterLogo.png"
                alt="U.S. National Institutes of Health"
                title="U.S. National Institutes of Health"></a>
    </div>
</footer>
