#visual_panel_1 {
    height: 500px;
    width: 95%;
    position: relative;
}

#visual_panel_2 {
    height: 250px;
    width: 95%;
    margin-top: 20px;
    position: relative;
}

#flcModal .modal-dialog {
    width: 95%;
    height: 95%;
    padding: 0;
}

#flcModal .modal-content {
    height: 100%;
    width: 100%;
}

#flcModal .modal-header {
    height: 10%;
    width: 100%;
}

#flcModal .modal-body{
    height: 90%;
    width: 100%;
}

.tooltip-inner {
    max-width: 350px;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #000;
}

.x.axis .minor {
    stroke: #000;
}

.x.axis path {
    stroke: #000;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.heatmapLabelText{
    font-size: 8px;
    dominant-baseline: middle;
}

.dendroLine {
    stroke: black;
    stroke-width: 1px;
}
