{% extends "analysis/dashboard.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}Executing {{object.name}}{% endblock %}

{% block crumbs_inner %}
    <li><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
    <li class='active'>Execute</li>
{% endblock crumbs_inner %}


{% block mid_content %}
{% if object.is_running %}

    <h1>{{object}}: execution started</h1>

    <p>
        Your analysis has been validated and added to the queue for execution.
        <br>
        <b>Start time:</b> {{object.start_time}} (<i id="startTime"></i>)
    </p>

    <p>
        <i class="fa fa-cog fa-spin fa-2x" aria-hidden="true"></i>
    </p>

    <p>
        You could refresh this page to view the current status if you'd like but we'll
        also send an email to
        <a href="mailto://{{request.user.email}}">{{request.user.email}}</a> when it's complete!
    </p>

{% elif object.is_complete %}

    <h1>{{object}}: execution complete!</h1>
    <a class='btn btn-primary' href="{{object.get_visuals_url}}">View visualization</a>

{% else %}

    <h1>{{object}}: execution not started</h1>
    <p>
        Execution hasn't yet started yet. Please modify
        <a href="{{object.get_update_url}}">your analysis settings</a>
        and then try again.
    </p>

{% endif %}
{% endblock %}


{% block extra_js %}
{% if object.is_running %}
{% render_bundle 'main' %}
<script type="text/javascript">
$(document).ready(function(){

    var startTime = window.moment('{{object.start_time.isoformat}}');
    $('#startTime').html(startTime.fromNow());

    window.setTimeout(function(){
        window.location.reload();
    }, 10*1000);
});
</script>
{% endif %}
{% endblock extra_js %}
