{% extends "analysis/dashboard.html" %}

{% load render_bundle from webpack_loader %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" media="all"
          href="{{STATIC_URL}}css/visuals.css">
{% endblock extra_css %}


{% block crumbs_inner %}
    <li><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
    <li class='active'>Visualization</li>
{% endblock crumbs_inner %}


{% block mid_content %}
<div id='analysis_selection_panel'></div>
<div id='visual_panel_1'></div>
<div id='visual_panel_2'></div>
<div class="modal fade" id="flcModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id='ind_heatmap_modal_title'>Feature list name</h4>
            </div>
            <div class="modal-body" id='ind_heatmap_modal_body'></div>
        </div>
    </div>
</div>
{% endblock mid_content %}


{% block extra_js %}
<script id="config" type="text/json" charset="utf-8">
    {
        "sortVectorRoot": "{% url 'analysis:api:analysis-sort-vector' object.id %}",
        "plotURL": "{% url 'analysis:api:analysis-plot' object.id %}",
        "ksURL": "{% url 'analysis:api:analysis-ks' object.id %}",
        "unsortedKsURL": "{% url 'analysis:api:analysis-unsorted-ks' object.id %}",
        "scatterplotURL": "{% url 'analysis:api:analysis-scatterplot' object.id %}",
        "binNamesUrl": "{% url 'analysis:api:analysis-bin-names' object.id %}",
        "userSortKsURL": "{% url 'analysis:api:analysis-user-sort-ks' object.id %}"
    }
</script>
{% render_bundle 'main' %}
{% endblock extra_js %}
