{% extends "analysis/dashboard.html" %}

{% block title %}Executing {{object.name}}{% endblock %}

{% block crumbs_inner %}
    <li><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
    <li class='active'>Execute</li>
{% endblock crumbs_inner %}


{% block mid_content %}

<h1>{{object}} execution started</h1>
<div class="progress">
    <div id='bar'
         class="progress-bar progress-bar-striped active"
         role="progressbar"
         style="width: 0%">
    </div>
</div>
<div class="text-center">
    <i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
</div>
<p id='status_text' class="lead text-center">0% complete<br></p>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
    var redirectToVisual = function(){
            window.location.href = '{{object.get_visuals_url}}';
        },
        pingStatus = function(){
            $.get('.', updateStatus);
        }, updateStatus = function(d){
            var percent = parseInt(d.fractionComplete * 100);

            if (percent >= 100) window.setTimeout(redirectToVisual, 1000);

            var style = 'width: ' + percent + '%';
            $('#bar').attr('style', style);
            $('#status_text').text(percent + "% complete...");
        };
    window.setInterval(pingStatus, 1000);
});
</script>
{% endblock extra_js %}
