{% extends "analysis/dashboard.html" %}

{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Create new analysis{% endblock %}

{% block crumbs_inner %}
    {% if object %}
        <li><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
        <li class='active'>Update</li>
    {% else %}
        <li class='active'>Create analysis</li>
    {% endif %}
{% endblock crumbs_inner %}


{% block mid_content %}
    <div id='analysis_form' style='display: none'>
        {% crispy form %}
    </div>
{% endblock %}

{% block extra_js %}
<script id="config" type="text/json" charset="utf-8">
    {
        "user_dataset": "{% url 'analysis:api:user-dataset-list' %}",
        "encode_dataset": "{% url 'analysis:api:encode-dataset-list' %}",
        "encode_dataset_options": "{% url 'analysis:api:encode-dataset-field-options' %}",
        "genome_assembly_selector": "#id_genome_assembly"
    }
</script>
{% render_bundle 'main' %}
{% endblock extra_js %}
