{% extends "base.html" %}

{% load render_bundle from webpack_loader %}


{% block mid_content %}
<div id="react-main"></div>
{% endblock mid_content %}


{% block extra_js %}
<script id="config" type="text/json" charset="utf-8">
    {
        "user_dataset": "{% url 'analysis:api:user-dataset-list' %}",
        "encode_dataset": "{% url 'analysis:api:encode-dataset-list' %}",
        "encode_dataset_options": "{% url 'analysis:api:encode-dataset-field-options' %}",
        "feature_list": "{% url 'analysis:api:feature-list-list' %}",
        "sort_vector": "{% url 'analysis:api:sort-vector-list' %}",
        "analysis": "{% url 'analysis:api:analysis-list' %}",
        "analysis": "{% url 'analysis:api:analysis-list' %}",
        "csrf": "{% csrf_token %}"
    }
</script>
{% render_bundle 'main' %}
{% endblock extra_js %}
