{% extends "analysis/dashboard.html" %}

{% block title %}Manage data{% endblock %}

{% block crumbs_inner %}
    <li class='active'>Data management</li>
{% endblock crumbs_inner %}


{% block mid_content %}
<h1>Data management</h1>
<div class="row">
    <div class="col-sm-6">
        <h2>Feature lists
            <a href="{% url 'analysis:feature_list_create' %}"
               class='btn btn-primary pull-right'>Create new</a>
        </h2>
        {% include 'analysis/manage_data_table.html' with object_list=feature_lists %}

        <h2>Sort vectors
            <a href="{% url 'analysis:sort_vector_create' %}"
               class='btn btn-primary pull-right'>Create new</a>
        </h2>
        {% include 'analysis/manage_data_table.html' with object_list=sort_vectors %}
    </div>

    <div class="col-sm-6">
        <h2>User datasets
            <div class='dropdown pull-right'>
                <button class='btn btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>
                Actions <span class="caret"></span>
                </button>
                <ul class='dropdown-menu'>
                    <li><a href='{% url 'analysis:user_dataset_create' %}'>Create new</a></li>
                    <li><a href='{% url 'analysis:dataset_download_list' %}'>Uploaded datasets</a></li>
                </ul>
            </div>
        </h2>
        {% include 'analysis/manage_data_table.html' with object_list=user_datasets %}
    </div>
</div>
{% endblock mid_content %}
