{% extends "analysis/dashboard.html" %}

{% load crispy_forms_tags %}

{% block title %}Create sort vector{% endblock %}

{% block crumbs_inner %}
    <li><a href="{% url 'analysis:manage_data' %}">Data management</a></li>
    {% if object %}
        <li><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
        <li class='active'>Update</li>
    {% else %}
        <li class='active'>Create sort vector</li>
    {% endif %}
{% endblock crumbs_inner %}


{% block mid_content %}
    {% crispy form %}
{% endblock %}
