{% extends "base.html" %}

{% block extra_css %}
<style>
body {
  background-color: #E8E5D6;
}

#visual {
    height: 500px;
    width: 95%;
    border: 2px solid gray;
}

#flcModal .modal-dialog {
  width: 95%;
  height: 95%;
  padding: 0;
}

#flcModal .modal-content {
  height: 100%;
}

</style>
{% endblock extra_css %}



{% block mid_content %}


<div id='visual'></div>


<button id='sortOrder' type='button' class='btn btn-primary'>Apply random sort order</button>
<br>
<select id='featureListSelector'>
</select>
<br>
<button id='featureList' type='button' class='btn btn-primary'>View feature list count</button>

<div class="modal fade" id="flcModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Feature list name</h4>
      </div>
      <div class="modal-body">
        <p>Visualization.</p>
      </div>
    </div>
  </div>
</div>
{% endblock mid_content %}



{% block extra_js %}
<script>

var renderSummaryPlot = function(data){
    // add code here...
    console.log('render summary plot here', data);
}

var applyNewSortOrder = function(data){
    // add code here...
    console.log('apply sort order and re-render', data);
}

var renderFeatureList = function(data){
    // add code here...
    console.log('render modal visual', data)
}

var showFeatureListCount = function(data){
    var data = d3.csv.parse(data);  // not sure if this is parsed correctly...
    $('#flcModal')
        .one('shown.bs.modal', function(){
            renderFeatureList(data)
        }).modal('show');
}


$(document).ready(function(){

    var urls = {
        summaryPlot: function(){
            return "{% url 'analysis:api:analysis-plot' object.id %}";
        },
        sortVector: function(){
            return "{% url 'analysis:api:analysis-sort-vector' object.id %}";
        },
        featureListDetail: function(id){
            return "/dashboard/api/feature-list-count-matrix/" + id + "/plot/";
        }
    }

    // #1 here is the summary data
    $.get(urls.summaryPlot(), renderSummaryPlot);

    // #2 is getting a new sort-vector
    $('#sortOrder').on('click', function(){
        $.get(urls.sortVector(), {id: 2}, applyNewSortOrder);
    });

    // #3 feature-list count matrices
    $('#featureList').on('click', function(){
        var id = $('#featureListSelector').val();
        $.get(urls.featureListDetail(id), showFeatureListCount);
    });

    // add options to select
    var populateFeatureList = function(arr){
        var opts = arr.map(function(d){
            return '<option id="' + d + '">' + d + "</option>";
        });
        $('#featureListSelector').html(opts);
    }
    populateFeatureList({{object.get_flcm_ids}});
});
</script>
{% endblock extra_js %}

