{% extends "base.html" %}

{% block extra_css %}
<style>

#visual_panel_1 {
    height: 500px;
    width: 95%;
    position: relative;
}

#visual_panel_2 {
    height: 250px;
    width: 95%;
    margin-top: 20px;
    position: relative;
}

#flcModal .modal-dialog {
    width: 95%;
    height: 95%;
    padding: 0;
}

#flcModal .modal-content {
    height: 100%;
    width: 100%;
}

#flcModal .modal-header {
    height: 10%;
    width: 100%;
}

#flcModal .modal-body{
    height: 90%;
    width: 100%;
}

.tooltip-inner {
    max-width: 350px;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #000;
}

.x.axis .minor {
    //stroke-opacity: .5;
    stroke: #000;
}

.x.axis path {
    stroke: #000;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

</style>
{% endblock extra_css %}



{% block mid_content %}
<div id='visual_panel_1'></div>
<div id='visual_panel_2'></div>

<!--
<button id='sortOrder' type='button' class='btn btn-primary'>Apply random sort order</button>
<br>

<select id='featureListSelector'>
</select>
<br>
<button id='featureList' type='button' class='btn btn-primary'>View feature list count</button>
-->

<div class="modal fade" id="flcModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id='ind_heatmap_modal_title'>Feature list name</h4>
            </div>
            <div class="modal-body" id='ind_heatmap_modal_body'></div>
        </div>
    </div>
</div>
{% endblock mid_content %}



{% block extra_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/individual_heatmap.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/individual_overview.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/analysis_overview.js"></script>

<script>

var renderSummaryPlot = function(data){
    // add code here...
    console.log('render summary plot here', data);
};

var applyNewSortOrder = function(data){
    // add code here...
    console.log('apply sort order and re-render', data);
};

var renderFeatureList = function(data){
    // add code here...
    console.log('render modal visual_panel_1', data)
};

var showFeatureListCount = function(data){
    var data = d3.csv.parse(data);  // not sure if this is parsed correctly...
    $('#flcModal')
        .one('shown.bs.modal', function(){
            renderFeatureList(data)
        }).modal('show');
};



$(document).ready(function(){

    var urls = {
        summaryPlot: function(){
            return "{% url 'analysis:api:analysis-plot' object.id %}";
        },
        sortVector: function(){
            return "{% url 'analysis:api:analysis-sort-vector' object.id %}";
        },
        /*
        featureListDetail: function(id){
            return "/dashboard/api/feature-list-count-matrix/" + id + "/plot/";
        }
        */
    }

    // #1 here is the summary data
    $.get(urls.summaryPlot(), function(data){
        var overview = new AnalysisOverview(data, 'visual_panel_1');
        var individual_overview = new IndividualOverview(data, 'visual_panel_2');
        overview.render();
        individual_overview.render();
    });

    /*
    // #2 is getting a new sort-vector
    $('#sortOrder').on('click', function(){
        $.get(urls.sortVector(), {id: 2}, applyNewSortOrder);
    });

    // #3 feature-list count matrices
    $('#featureList').on('click', function(){
        var id = $('#featureListSelector').val();
        $.get(urls.featureListDetail(id), showFeatureListCount);
    });

    // add options to select
    var populateFeatureList = function(arr){
        var opts = arr.map(function(d){
            return '<option id="' + d + '">' + d + "</option>";
        });
        $('#featureListSelector').html(opts);
    }
    populateFeatureList({{object.get_flcm_ids}});
    */
});

</script>
{% endblock extra_js %}
